article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

a:visited {
  text-decoration: none;
  color: #89949E; }

i {
  text-align: center; }

ul {
  padding: 0;
  list-style-type: none; }

body {
  background-color: #EDEDED; }

h1 {
  font-family: "Rubik", sans-serif;
  color: #231F20;
  margin-top: 50px;
  font-size: 3.6rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 7px; }

h2 {
  font-family: "Rubik", sans-serif;
  color: #231F20;
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 3px; }
  @media (max-width: 520px) {
    h2 {
      font-size: 2.1rem; } }
  @media (max-width: 370px) {
    h2 {
      font-size: 1.9rem; } }

header {
  display: -ms-flexbox;
  display: flex;
  text-align: center; }

.imgContainer {
  margin: 0 auto;
  width: 100%; }
  .imgContainer img {
    width: 85%; }

label {
  font-family: "Rubik", sans-serif;
  font-size: 2rem;
  letter-spacing: 2px; }

textarea {
  resize: none;
  font-size: 1.5rem;
  border: 1px solid #333438; }

input {
  text-align: center;
  outline: none;
  border: 1px solid #333438; }

.overlayForm {
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  visibility: hidden; }

.overlayForm.show {
  visibility: visible; }

.blogMason {
  width: 95%;
  margin: 25px auto;
  -moz-column-count: 3;
       column-count: 3;
  -moz-column-gap: 18px;
       column-gap: 18px; }
  @media (max-width: 768px) {
    .blogMason {
      -moz-column-count: 2;
           column-count: 2;
      -moz-column-gap: 10px;
           column-gap: 10px; } }
  @media (max-width: 480px) {
    .blogMason {
      -moz-column-count: 1;
           column-count: 1;
      -moz-column-gap: 10px;
           column-gap: 10px; } }

.tagline {
  font-family: "Space Mono", monospace;
  font-style: italic;
  font-size: 1.6rem; }

.flexWrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between; }

.header__signIn {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center; }

.header__signIn a {
  font-family: "Space Mono", monospace;
  font-size: 2rem; }

.userForm {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin: auto;
  width: 80%; }
  .userForm label {
    margin-top: 20px;
    margin-bottom: 5px;
    letter-spacing: 2px; }
  .userForm input {
    font-family: "Space Mono", monospace;
    text-align: center;
    margin: auto;
    width: 80%;
    font-size: 2rem;
    padding: 10px; }

.header__blogPage {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }

.form__post {
  text-align: center;
  background-color: #EFE6DD;
  border: 3px solid #FFFDF9;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 20px;
  margin: 0 auto;
  width: 60%;
  position: absolute;
  top: 10%;
  left: 20%;
  z-index: 100; }
  .form__post h2 {
    margin-top: 10px;
    margin-bottom: 20px; }
  .form__post label {
    margin-top: 20px;
    margin-bottom: 5px;
    letter-spacing: 2px; }
  @media (max-width: 768px) {
    .form__post {
      top: 10%;
      left: 10%;
      padding: 10px;
      width: 80%; } }
  @media (max-width: 370px) {
    .form__post {
      top: 10%;
      left: 7%;
      padding: 10px;
      width: 90%; } }

.form__post--input {
  margin: auto;
  width: 70%;
  font-family: "Space Mono", monospace;
  font-size: 2rem;
  padding: 10px; }
  @media (max-width: 768px) {
    .form__post--input {
      width: 80%; } }
  @media (max-width: 370px) {
    .form__post--input {
      width: 90%; } }

.autocompleteInput {
  margin: 0 auto; }

.form__search {
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center; }
  @media (max-width: 767px) {
    .form__search {
      display: none; } }

.form__search--input {
  font-family: "Space Mono", monospace;
  color: #231F20;
  background-color: #FBFAFA;
  width: 70%;
  margin: 10px auto;
  font-size: 1.6rem;
  padding: 10px; }
  @media (max-width: 520px) {
    .form__search--input {
      width: 80%; } }

.blogContent {
  text-align: left;
  background-color: #FBFAFA;
  display: inline-block;
  box-shadow: 0px 0px 15px -4px rgba(107, 107, 107, 0.5);
  font-size: 1.5rem;
  margin: 10px auto;
  padding: 20px;
  width: 100%; }
  @media (max-width: 520px) {
    .blogContent {
      padding: 15px; } }
  @media (max-width: 370px) {
    .blogContent {
      padding: 20px; } }

.blogContent:hover {
  background-color: #EEE5DC;
  cursor: pointer; }

.blogContent.focus {
  background-color: #EFE6DD;
  border: 4px solid #FFFDF9;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.8rem;
  -ms-flex-direction: column;
      flex-direction: column;
  margin: 10px auto;
  padding: 30px;
  width: 100%;
  position: absolute;
  top: -10px;
  right: 0;
  left: 0;
  height: 100vh;
  z-index: 105; }
  .blogContent.focus i {
    text-align: center;
    margin: 0 auto;
    font-size: 2rem; }
  .blogContent.focus img {
    margin: 0 auto;
    height: 50vh;
    width: auto; }
  .blogContent.focus .fa-thumb-tack, .blogContent.focus .fa-sticky-note-o {
    margin-right: 20px; }
  .blogContent.focus .closePost {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    margin: auto;
    width: 10%;
    font-size: 2rem; }
  .blogContent.focus .button__remove {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    margin: auto;
    width: 10%;
    font-size: 2rem; }
  @media (max-width: 768px) {
    .blogContent.focus {
      padding: 20px; }
      .blogContent.focus img {
        height: 40vh;
        margin: 30px auto; } }
  @media (max-width: 520px) {
    .blogContent.focus {
      padding: 15px; }
      .blogContent.focus img {
        height: 30vh;
        margin: 40px auto; } }
  @media (max-width: 370px) {
    .blogContent.focus {
      height: 90vh;
      padding: 10px; }
      .blogContent.focus img {
        height: 25vh;
        margin: 40px auto; } }

.cardPhoto {
  width: 100%;
  margin: 0 auto; }

.cardTitle {
  font-family: "Rubik", sans-serif;
  color: #231F20;
  padding: 10px 0 10px 0px;
  margin: 0 auto; }
  @media (max-width: 370px) {
    .cardTitle {
      padding: 30px 0 10px 0px; } }

.fa-thumb-tack {
  font-size: 2rem;
  margin: 10px 10px 10px -20px; }
  @media (max-width: 520px) {
    .fa-thumb-tack {
      margin: 5px 10px 5px -5px; } }

.cardLocation {
  font-family: "Space Mono", monospace;
  padding: 10px 20px;
  margin: 10px auto; }
  @media (max-width: 520px) {
    .cardLocation {
      margin: 15px auto;
      padding: 5px; } }

.fa-sticky-note-o {
  font-size: 2rem;
  margin: 10px 10px 10px -20px; }
  @media (max-width: 520px) {
    .fa-sticky-note-o {
      margin: 5px 10px 5px -5px; } }

.cardNote {
  font-family: "Space Mono", monospace;
  padding: 10px 20px;
  margin: 10px auto; }
  @media (max-width: 520px) {
    .cardNote {
      margin: 15px auto;
      padding: 5px; } }

.button {
  background: none;
  border: none;
  font-size: 1.6em;
  color: #FFFCF9;
  font-family: "Space Mono", monospace;
  background-color: #2B3145; }

.closePost {
  outline: none;
  padding: 5px;
  font-size: 1.8rem;
  color: #231F20;
  background-color: #FFF;
  border: 1px solid #333438; }

.button__action--search {
  margin: 10px auto;
  padding: 10px;
  letter-spacing: 1.5px;
  background: none;
  border: none;
  font-size: 1.8em;
  color: #FFFCF9;
  font-family: "Space Mono", monospace;
  background-color: #89949E; }

.button__submit {
  margin: 20px auto;
  font-size: 1.8rem;
  padding: 10px;
  letter-spacing: 1.5px;
  font-family: "Space Mono", monospace; }

.button__submit--width {
  width: 30%; }
  @media (max-width: 520px) {
    .button__submit--width {
      width: 40%; } }

.button--header {
  width: 20%;
  padding: 15px 0; }
  @media (max-width: 520px) {
    .button--header {
      padding: 15px 10px; } }

.fa-plus {
  display: block; }

.fa-sign-out {
  display: block; }

.button__remove {
  display: block;
  margin: 0 auto;
  padding: 5px;
  outline: none;
  width: 10%;
  font-size: 1.8rem;
  color: #231F20;
  background-color: #FFF;
  border: 1px solid #333438; }
  .button__remove i {
    text-align: center;
    margin: 2px; }
  @media (max-width: 960px) {
    .button__remove {
      width: 12%; } }
  @media (max-width: 860px) {
    .button__remove {
      width: 14%; } }

.button__exitForm {
  margin: 20px auto;
  padding: 0;
  outline: none;
  font-size: 1.8rem;
  color: #231F20;
  background-color: #FFF;
  border: 1px solid #333438;
  width: 5%; }
  @media (max-width: 768px) {
    .button__exitForm {
      margin: 10px auto;
      padding: 0; } }
